body {
  margin: 0px;
  background-color: rgba(214, 210, 196, 1);
  background-image: none;
  position: relative;
  left: -0px;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form_sketch {
  border-color: transparent;
  background-color: transparent;
}


.headerReview{
  margin-left: 10%;
  margin-right: 10%;
  background-color: #eee;
  height: auto;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
}

.headerDiv{
  margin-left: auto;
  margin-right: auto;
}

.imgWrap{
  display: grid;
  grid-template-columns: auto;
  height: auto;
  grid-auto-rows: 94px 28px;
  justify-content: center;
}
.headingFormat{
  font-family: "Arial Bold", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #615D59;
  text-align: center;
}
.fullBody{
    display: grid;
    padding-top: 1%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 620px;
    row-gap: 20%;
    background-color: #eee;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center; /* centers items horizontally */
  align-items: center; /* centers items vertically */
}

.bodyReview{
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  display: inline-grid;
  grid-template-columns: 1fr;
  height: 4em;
  background-color: #eee;
  height: auto;
  width: auto;
  justify-content: center; /* centers items horizontally */
  align-items:  center; /* centers items vertically */
}
.bodyReview:last-of-type > .rowWrapper{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 25%;
}

.rowWrapper{
  display: grid;
  display: flex;
  grid-template-columns: auto auto auto auto auto auto;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  align-items: stretch;
}



.bodyWrap{
  background-color: #eee;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: stretch;
  flex-direction: column;
  justify-self: center;
  border-radius: 20px;
  max-width: 220px;
  height: auto;
  width: max-content;
}
.titleBox{
  background-color: #006747;
  display: inline-flex;
  align-items: stretch;
  position: top;
  border-bottom: solid 1px black;
  padding-left: 1em;
  padding-right: 1em;
}

.infoBox{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 1em;
  height: 100%;
  padding-right: 1em;
}

.bodyWrap:first-of-type > .titleBox{

  border-top-left-radius: 8px;
}
.bodyWrap:last-of-type > .titleBox{

  border-top-right-radius: 8px;
}
.bodyWrap:first-of-type> .infoBox{
  border-bottom-left-radius: 8px;
}
.bodyWrap:last-of-type> .infoBox{
  border-bottom-right-radius: 8px;
}
.titleText{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-weight: lighter;
  font-family: 'Roboto';
  margin-bottom: 0%;
  text-align: center;
  color: white;
  font-size: 100%;
}

.infoText{
  flex-grow: 1;
  font-weight: lighter;
  font-family: 'Roboto';
  margin-bottom: 0;
  color: rgb(0, 0, 0);
  font-size: 100%;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 200px;
}

.greenButton{
  background-color: #006747;
  border-radius: 8px;
}

#base {
  position: absolute;
  z-index: 0;
  width: 100%;
}