html, body {
  height: 100%;
  width: 100%;
}
.bg {
  background-image: url('/././src/Images/BackgroundImg.jpg');
  background-size: cover;
  z-index: -1;
}

.container{
  display: grid;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vh;
  height: 100vh;
  grid-template-rows: [row1-start] 25% [row1-end row2-start] 25% [row2-end row3-start] 25% [row3-end row4-start] 25% [row2-end];
  grid-template-columns: [first] 25% [line2] 25% [line3] 25% [col4-start] 25% [end];
}
.whiteSpace{
  height: 100%;
  width: 100%
}

.borderBox{
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  display: inline-block;
  height: 5%;
  width: 50%;
  background: #006747;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.box{
  display: block;
  justify-self: center;
  align-self: center;
  background:#eee;
  height: 70%;
  width: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: grid;
  grid-template-rows: 1fr .5fr 3fr;
  row-gap: 30px;
}
.img{
  margin-top: 2%;
  justify-self: center;
  display: inline-block;
}
.pform{
  text-align: center;
}
.heading{
  display: inline-block;
  justify-self: center;
  font-size: 2.3em;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  margin: 0%;
  color: rgb(121, 121, 121);
}
.formLogin{
  display: grid;
}
.inputBox:first-of-type{
  margin-top: 0px;
}
.inputBox{
  justify-self: center;
  align-self: start;
  width:40%;
  height: 80%;
  display: grid;
}
.inputText{
  justify-self: center;
  align-self: start;
  width: 100%;
  display:flex;
  font-size: 2em;
  display: inline-block;
  height: 2em;
  background-color: #eee;
  border: 1px solid #eee;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-bottom: black solid 2px;
}

.loginSubmit {
  display: block;
  width: 100%;
  margin-bottom: 0;
  height: 2.3em;
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial;
  color: rgb(255, 255, 255);
  background-color: #006747;
  border: .5em solid #006747;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

.loginSubmit:hover {
  background-color: black;
  border: .5em solid #000000;
  cursor: pointer;
}

.error-message{
  justify-self: center;
  text-align: left;
  height: 1.5em;
  width: 40%;
  font-size: 1.5em;
  color: red;
}