body {
  margin: 0px;
  background-color: rgba(214, 210, 196, 1);
  -ms-overflow-style: none;
  background-image: none;
  position: relative;
  left: -0px;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  height: 823px;
}

.form_sketch {
  border-color: transparent;
  background-color: transparent;
}

#base {
  position: absolute;
  z-index: 0;
}

#u0_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1922px;
  height: 869px;
}

#u0 {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1922px;
  height: 823px;
  display: flex;
}

#u0 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#u0_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
  display: none;
}

#u1_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 500px;
  height: 443px;
  background: inherit;
  background-color: rgba(242, 242, 242, 1);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#u1 {
  border-width: 0px;
  position: absolute;
  left: 750px;
  top: 107px;
  width: 500px;
  height: 443px;
  display: flex;
}

#u1 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#u1_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
  display: none;
}

#u2_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 500px;
  height: 9px;
  background: inherit;
  background-color: rgba(0, 103, 71, 1);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#u2 {
  border-width: 0px;
  position: absolute;
  left: 750px;
  top: 107px;
  width: 518px;
  height: 9px;
  display: flex;
}

#u2 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#u2_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
  display: none;
}

#u3_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 455px;
  height: 32px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Arial Bold", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #615D59;
}

#u3 {
  border-width: 0px;
  position: absolute;
  left: 770px;
  top: 210px;
  width: 455px;
  height: 32px;
  display: flex;
  font-family: "Arial Bold", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #615D59;
}

#u3 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#u3_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}

#u4_img {
  border-width: 0px;
  position: absolute;
  left: 100px;
  top: 0px;
  width: 255px;
  height: 43px;
}

#u4 {
  border-width: 0px;
  position: absolute;
  left: 770px;
  top: 161px;
  width: 255px;
  height: 43px;
  display: flex;
}

#u4 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#u4_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
  display: none;
}

#u5_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1px;
  height: 16px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #767676;
  text-align: left;
}

#u5 {
  border-width: 0px;
  position: absolute;
  left: 786px;
  top: 335px;
  width: 1px;
  height: 16px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #767676;
  text-align: left;
}

#u5 .text {
  position: absolute;
  align-self: flex-end;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#u5_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
  visibility: hidden;
  display: none;
}

#u6_input {
  position: absolute;
  left: 15px;
  top: 0px;
  width: 300px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #333333;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u6_input.mouseOver {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  padding: 16px 48px 2px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #333333;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u6_input.focused {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  padding: 16px 48px 2px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #333333;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u6_input.hint {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  padding: 16px 48px 2px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #999999;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u6_input.mouseOver.hint {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  padding: 16px 48px 2px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #999999;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u6_input.focused.hint {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  padding: 16px 48px 2px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #999999;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u6_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.047058823529411764);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(194, 194, 194, 1);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u6 {
  border-width: 0px;
  position: absolute;
  left: 840px;
  top: 277px;
  width: 300px;
  height: 56px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u6 .text {
  position: absolute;
  align-self: center;
  padding: 16px 48px 2px 16px;
  box-sizing: border-box;
  width: 100%;
}

#u6_div.mouseOver {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.12156862745098039);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5019607843137255);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u6.mouseOver {}

#u6_div.focused {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.12156862745098039);
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(30, 152, 215, 1);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u6.focused {}

#u6_div.hint {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.047058823529411764);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(194, 194, 194, 1);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u6.hint {}

#u6_div.mouseOver.hint {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.12156862745098039);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5019607843137255);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u6.mouseOver.hint {}

#u6_div.focused.hint {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.12156862745098039);
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(30, 152, 215, 1);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u6.focused.hint {}

#u7_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 46px;
  height: 16px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #767676;
  text-align: left;
  line-height: 16px;
}

#u7 {
  border-width: 0px;
  position: absolute;
  left: 784px;
  top: 291px;
  width: 46px;
  height: 16px;
  display: flex;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #767676;
  text-align: left;
  line-height: 16px;
}

#u7 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 3px 0px 3px;
  box-sizing: border-box;
  width: 100%;
}

#u7_div.selected {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 46px;
  height: 16px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #767676;
  text-align: left;
  line-height: 16px;
}

#u7.selected {}

#u7_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}

#u8_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 52px;
  height: 24px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #767676;
  text-align: left;
  line-height: 24px;
}

#u8 {
  border-width: 0px;
  position: absolute;
  left: 855px;
  top: 293px;
  width: 283px;
  height: 24px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #767676;
  text-align: left;
  line-height: 24px;
}

#u8 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#u8_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#u9_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1px;
  height: 16px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #767676;
  text-align: left;
}

#u9 {
  border-width: 0px;
  position: absolute;
  left: 786px;
  top: 442px;
  width: 1px;
  height: 16px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #767676;
  text-align: left;
}

#u9 .text {
  position: absolute;
  align-self: flex-end;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#u9_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
  visibility: hidden;
  display: none;
}

#u10_input {
  position: absolute;
  left: 15px;
  top: 0px;
  width: 300px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #333333;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u10_input.mouseOver {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  padding: 16px 48px 2px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #333333;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u10_input.focused {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  padding: 16px 48px 2px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #333333;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u10_input.hint {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  padding: 16px 48px 2px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #999999;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u10_input.mouseOver.hint {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  padding: 16px 48px 2px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #999999;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u10_input.focused.hint {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  padding: 16px 48px 2px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: normal;
  color: #999999;
  vertical-align: none;
  text-align: left;
  text-transform: none;
  background-color: transparent;
  border-color: transparent;
}

#u10_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.047058823529411764);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(194, 194, 194, 1);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u10 {
  border-width: 0px;
  position: absolute;
  left: 840px;
  top: 384px;
  width: 300px;
  height: 56px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u10 .text {
  position: absolute;
  align-self: center;
  padding: 16px 48px 2px 16px;
  box-sizing: border-box;
  width: 100%;
}

#u10_div.mouseOver {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.12156862745098039);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5019607843137255);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u10.mouseOver {}

#u10_div.focused {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.12156862745098039);
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(30, 152, 215, 1);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u10.focused {}

#u10_div.hint {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.047058823529411764);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(194, 194, 194, 1);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u10.hint {}

#u10_div.mouseOver.hint {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.12156862745098039);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5019607843137255);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u10.mouseOver.hint {}

#u10_div.focused.hint {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 56px;
  background: inherit;
  background-color: rgba(0, 0, 0, 0.12156862745098039);
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(30, 152, 215, 1);
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #333333;
}

#u10.focused.hint {}

#u11_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 62px;
  height: 16px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #767676;
  text-align: left;
  line-height: 16px;
}

#u11 {
  border-width: 0px;
  position: absolute;
  left: 784px;
  top: 398px;
  width: 62px;
  height: 16px;
  display: flex;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #767676;
  text-align: left;
  line-height: 16px;
}

#u11 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 3px 0px 3px;
  box-sizing: border-box;
  width: 100%;
}

#u11_div.selected {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 62px;
  height: 16px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #767676;
  text-align: left;
  line-height: 16px;
}

#u11.selected {}

#u11_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}

#u12_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 72px;
  height: 24px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #767676;
  text-align: left;
  line-height: 24px;
}

#u12 {
  border-width: 0px;
  position: absolute;
  left: 855px;
  top: 400px;
  width: 72px;
  height: 24px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #767676;
  text-align: left;
  line-height: 24px;
}

#u12 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#u12_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#u13_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 29px;
  background: inherit;
  background-color: rgb(0, 103, 71);
  border: none;
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 20px;
}

#u13 {
  border-width: 0px;
  position: absolute;
  left: 837px;
  top: 479px;
  width: 300px;
  height: 29px;
  display: flex;
  font-size: 20px;
}

#u13 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}

#u13_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}

#u14_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 111px;
  height: 14px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #D9001B;
}

#u14 {
  border-width: 0px;
  position: absolute;
  left: 1086px;
  top: 384px;
  width: 111px;
  height: 14px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #D9001B;
}

#u14 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#u14_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}

#u15_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 91px;
  height: 14px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #D9001B;
}

#u15 {
  border-width: 0px;
  position: absolute;
  left: 910px;
  top: 460px;
  width: 91px;
  height: 14px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #D9001B;
}

#u15 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#u15_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}

#u16_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 111px;
  height: 14px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #D9001B;
}

#u16 {
  border-width: 0px;
  position: absolute;
  left: 1086px;
  top: 277px;
  width: 111px;
  height: 14px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #D9001B;
}

#u16 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#u16_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}

#u17_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 76px;
  height: 14px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #D9001B;
}

#u17 {
  border-width: 0px;
  position: absolute;
  left: 1086px;
  top: 314px;
  width: 76px;
  height: 14px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #D9001B;
}

#u17 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}

#u17_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}