html, body {
  height: 100%;
}
.bg {
  background-image: url('/././src/Images/BackgroundImg.jpg');
  background-size: cover;
  z-index: -1;
}

.container{
  display: grid;
  grid-template-rows: [row1-start] 208px [row1-end row2-start] 208px [row2-end row3-start] 208px [row3-end row4-start] 208px [row2-end];
  grid-template-columns: [first] 384px [line2] 384px [line3] 384px [col4-start] 384px[end];
}
.borderBox{
  align-self: end;
  grid-column-start: line2;
  grid-column-end: col4-start;
  grid-row-start: row1-start;
  grid-row-end: row2-start;
  height: 10%;
  width: 100%;
  background: #006747;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.box{
  grid-column-start: line2;
  grid-column-end: col4-start;
  grid-row-start: row2-start;
  grid-row-end: row4-start;
  background:#eee;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: grid;
  grid-template-rows: 100px 40px 40px 1fr;
  row-gap: 30px;
}
.img{
  margin-top: 2%;
  justify-self: center;
  display: inline-block;
}
.heading{
  display: inline-block;
  justify-self: center;
  font-size: 28px;
  font-weight: bold;
  font-family: Arial;
  margin: 0%;
  color: rgb(121, 121, 121);
}
.formLogin{
  display: grid;
  grid-template-rows: 40px 40px 60px;
  row-gap: 30px;
}
.inputBox:first-of-type{
  margin-top: 0px;
}
.inputBox{
  justify-self: center;
  align-self: center;
  width:40%;
  height: 100%;
  display: grid;
}
.inputText{
  justify-self: center;
  align-self: start;
  width: 100%;
  display:flex;
  font-size: 18px;
  display: inline-block;
  height: 100%;
  background-color: #eee;
  border: 1px solid #eee;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-bottom: black solid 2px;
}

.loginSubmit {
  display: block;
  width: 100%;
  margin-bottom: 0;
  height: 45%;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Arial;
  color: rgb(255, 255, 255);
  background-color: #006747;
  border: 2px solid #006747;

}

.loginSubmit:hover {
  background-color: black;
  border: 2px solid #000000;
  cursor: pointer;
}

