
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
P{
  text-align: left;
}
.multiplechoicediv {
  width: 100%;
  height: 100%;
}

.bg {
  background-image: url('/././src/Images/BackgroundImg.jpg');
  background-size: cover;
  z-index: -1;
}
.entryContainer{
  margin-left:auto;
  margin-right: auto;
  width: 852px;
  height: 780px;
}

.imageContainer {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  display: block;
  align-self: start;
  justify-self: center;
}
.form{
  -ms-overflow-style: none;
  size: auto;
  width: auto;
  height: 100%;
}

.backGroundItem{
  display: grid;
  grid-template-columns: repeat(2, 188px)
  100px 188px 188px;
  grid-template-rows: 130px 30px 
  repeat(2, 110px);
  background-color: #f2f2f2;
  max-height: 780px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fs1 {
grid-row-start: 3;
grid-row-end: 8;
grid-column-start: 1;
grid-column-end: 3;
border: none;
}



.fs2 {
display: block;
grid-row-start: 3;
grid-row-end: 8;
grid-column-start: 4;
grid-column-end: 6;
border: none;
}

.h2 {
  display: block;
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 28;
  font-weight: bold;
  font-family: Arial;
  margin: 0%;
  color: rgb(121, 121, 121);
}
.labelInput:first-child{
  margin-top: 0px;
}
.labelInput {
  display: block;
  font-size: 12px;
  margin-top: 30px;
  width: 100%;
}

.inputLabelTopPage {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(231, 231, 231);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.inputRadio {
  display: inline-block;
  size: 45%;
  width: 8%;
  margin-top: 0px;
  color: rgb(121, 121, 121);
  text-align: center;
}

.button {
  
  width: 80%;
}

textarea {
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(231, 231, 231);
  padding: 5%;
  top: 10px;
  height: 84px;
  width: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.legendRadio {
  align-self: center;
  font-size: 17 px;
  color: rgb(121, 121, 121);
  font-weight: lighter;
  font-family: 'Roboto';
  text-align: center;
  border: none;
}

.labelRadio {
  display: inline-block;
  width: 100%;
  height: 20px;
  align-self: start;
}

.redio-wrap label {
  display: inline-block;
  margin-right: 10px;
  width: auto;
}

.redio-wrap label:first-child {
  width: 140px;
  margin-right: 40px;
}

.radioButtonContainer{
  display: grid;
  grid-row-start: 8;
  grid-row-end: 9;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.radioButton {
  display: grid;
  text-align: left;
  border: none;
  align-items: start;
}

.radioP {
  display: inline-block;
  left: 0px;
  margin-left: 4px;
  size: auto;
  width: auto;
  font-size: 20px;
  font-family: 'Roboto';
  height: 1rem 0;
  text-align: center;
}

.inputCheck {
  display: inline-block;
  width: 10%;
  margin: 0px;

}

.checkP {
  display: inline-block;
  margin-left: 4px;
  margin: none;
  width: 85%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 20px;
}

.radioElements {
  margin-top: 0px;
  margin-bottom: 15px;
  top: 100%;
  margin-left: 25%;
  width: auto;
}

.inputCalender {
  width: 55%;
  justify-self: center;
  align-self: center;
  padding: .5%;
  
}

.doubleStyle {
 grid-row-start: 9;
 grid-row-end: 10;
 grid-column-start: 1;
 grid-column-end: 6;
 border: none;
}

.entrySubmit {
  display: block;
  width: 15em;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Arial;
  color: rgb(255, 255, 255);
  background-color: #006747;
  border: 2px solid #006747;
  align-self: center;
}

.entrySubmit:hover {
  background-color: black;
  border: 2px solid #000000;
  cursor: pointer;
}

.Submit {
  align-self: center;
  justify-self: center;
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 6;
  border: none;
  
}

.calDiv {
  width: 50%;
  margin: auto;
  display: inline-grid;
}

.legendCal {
  width: 100%;
  text-align: center;
  justify-content: center;
}